<div>
  <p>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
  </p>
  <p>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" />
  </p>
  <p>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" />
  </p>
  <p>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" />
  </p>
  <input type="submit" id="submit" value="Submit" />
</div>
